body{
    margin: 0px;
    font-family:Arial, Helvetica, sans-serif;

}

.box{
    width: 100px;
    height: 100px;
    background-color: aqua;
}

.banana{
    display: flex;
    /* gap: 50px; */
    /* justify-content: space-between; */
justify-content: space-evenly;
}

.inlinedemo{
    border:2px solid black;
}

.cooltext{
    font-weight: 900px;
    font-size: 18px;
}
.blockdemo{
    background-color: blueviolet;
}

.field{
    display: flex;
    flex-direction: column;
    width: 200px;
}

.field2{
    display: flex;
    flex-direction: column;
    width: 200px;
}

.form{
    margin: auto;
    width: 500px;
    margin-bottom: 200px;
}

.lname{
    margin-bottom: 20px;
}

.col{
display: flex;
flex-wrap: wrap;
gap: 20px;
}


@media(width >= 700px){
    .form{
        background-color: green;
    }
    .field{

    }
    .label{}
}

/* @media(min-width: 700px){

} */