body {
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
  padding: 0px;
  margin: 0px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section{
    margin: 15px;
}

.navlinks {
  display: flex;
}

li {
  margin-bottom: 10px;
}

.navlinks li {
  list-style: none;
  margin-right: 1rem;
}

.navform{
    font-size: x-small;
    width: 100px;
    margin-right: 15px;
}

.navform input{
    width: 100px;
}

span {
  font-weight: bolder;
  font-size: 22px;
}

.sighthingrow {
  display: flex;
  justify-content: center;
}
.sighthingform {
  display: flex;
  flex-direction: column;
  margin: 10px;
  gap: 10px;
}

.sighthingform button{
    border-radius: 25px;
    height: 25px;
    text-align: center;
    width: 200px;
    font-weight: bolder;
    align-self: center;
    background-color: orange;
}

.signonform {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 16px;
  align-items: baseline;
}

.signonform button{
    border-radius: 10px 0px;
    width: 150px;
    font-weight: bolder;
    background-color: orange;
}

.signonform input{
    width: 175px;

}

input {
  width: 350px;
}
 